/node_modules
/public/hot
/public/storage
/public/css/main.css
/public/css/app.css
/public/admin/css/admin.css
/public/js/app.js
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/public/node_modules
public/bower_components
public/uploads/users_profile/*
public/uploads/users/*
public/uploads/videos/*